{% extends "layout.html" %}
{% block content%}   
<form action="/predict" method="post">
    <label for="model">Select a  model:</label>
    <select id="model" name="model">
        <option value="None">None</option>
        <option value="XGBoost">XGBoost</option>
        <option value="Logistic Regression">Logistic Regression</option>
        <option value="Decision Tree">Decision Tree</option>
        <option value="Random Forest">Random Forest</option>
        <option value="Naive Bayes">Naive Bayes</option>
        <option value="K-Nearest Neighbors">K-Nearest Neighbors</option>
    </select><br><br>
    <input type="hidden" name="input_data" value="{{value}}">
    <div class="scrollable-table">
        <table border="1">
            <thead>
                <tr>
                    {% for col in dataframe.columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in dataframe.itertuples() %}
                <tr>
                    {% for value in row[1:] %}       
                        <td>
                            {% if value == 'predict' %}
                            <button class="predict-button" type="button" onclick="predictFunction(this)">Predict</button>
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <input type="submit" value="Predict">
</form>
<div class="prediction-section">
{% if result %}
<span class="text">{{result}}</span>

<div class="activity">
    <div class="title">
        <i class="uil uil-clock-three"></i>
        <span class="text">Explainable AI</span>
    </div>
</div>
<h2>Local Explainer</h2>
<div class="tabs">
    <button class="tablinks" onclick="openTab(event, 'tab3')">Shap</button>
    <button class="tablinks" onclick="openTab(event, 'tab4')">Lime</button>
</div>

<div id="tab3" class="tabcontent">
    <h2>Tab 1 Content</h2>
    <p>This is the content for Tab 1.</p>
</div>

<div id="tab4" class="tabcontent">
        {{ data|safe }}
</div> <br><br>



<script src="{{ url_for('static', filename='script.js') }}"></script>
{% else %}
    <p>Model and row for prediction not selected</p>
    <div class="activity">
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">Explainable AI</span>
        </div>
        <h2>Local Explainer</h2>
        <p>Select Model and row for prediction</p><br><br>
{% endif %}
</div>

<h2>Global Explainer</h2>
<div class="tabs">
    <button class="tablinks" onclick="openTab(event, 'tab1')">Shap</button>
</div>

<div id="tab1" class="tabcontent">
    <h2>Tab 1 Content</h2>
    <p>This is the content for Tab 1.</p>
</div>

{% endblock content %}